<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canvas Effect</title>
  <style>
    html, body {
      width: 100%;
      min-height: 100%;
      background: black;
      margin: 0;
      display: flex;
      justify-content: center;
      overflow: auto;
    }
    canvas {
      align-self: center;
      cursor: move;
    }
  </style>
</head>
<body>
  <canvas id="canv"></canvas>

  <script>
    document.addEventListener('DOMContentLoaded', function(){
      var c = document.getElementById('canv');
      var ctx = c.getContext('2d');
      c.width = 600; 
      c.height = 400; 
      var ms = false;
      var w = 0, h = 0;

      var img = new Image();
      img.src = 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/131045/404.png';

      var set = function(){
        var run, _h, _w, dx, a;
        w = img.width;
        h = img.height;
        ctx.translate(50, 50);
        a = 30;
        dx = 0;
        _w = w + 50;
        _h = h + 50;
        return (run = function() {
          var inc, i, j;
          ctx.clearRect(-a, -a, _w, _h);
          inc = ms === true ? 0.5 : 0.18;
          for (j = 0; j <= h; j++) {
            dx = Math.floor(inc * (Math.random() - 0.5) * a);
            ctx.drawImage(img, 0, j, w, 1, dx, j, w, 1);
          }
          window.requestAnimationFrame(run);
        })();
      };

      img.onload = function(){
        return set();
      };

      c.addEventListener('mouseover', function(){
        ms = true;
      }, false);

      c.addEventListener('touchmove', function(e){
        e.preventDefault();
        ms = true;
      }, false);

      c.addEventListener('mouseout', function(){
        ms = false;
      }, false);

      c.addEventListener('touchend', function(){
        ms = false;
      }, false);
    });
  </script>
</body>
</html>
